{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
    <div class="mx-auto my-auto loginwidget d-flex flex-column">
        <div>
            <h1 class="registertitle1">Login</h1>
        </div>
        <div class="login-form mx-auto my-auto py-5">
            <form action = "/login", method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-primary" type="submit">Log In</button>
            </form>
        </div>
        <div>
            <p>Don't have an account? <a href="/register" class="loginregisterbutton"><span style="color: #393f81; font-weight:bold;">Register Here</span></a></p>
        </div>
    </div>
{% endblock %}
